<!DOCTYPE html>

<html>

<head>
    <title>URL Shortener Microservice | Vicente Ferrer</title>
    <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <main>
        <h1>URL Shortener Microservice</h1>
        <hr>
        <section>
            <form action="api/shorturl" method="POST">
                <label>URL:
                    <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
                </label>
                <input type="submit" value="POST URL" />
            </form>
        </section>
        <footer>
            <p>Developed by <a href="#">Vicente Ferrer</a></p>
        </footer>
    </main>
</body>

</html>